<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xalt.demos.dao.ExportDataMapper">


  <!--查询所有纳税人基本信息-->
  <select id="selectAll"   resultType="java.util.HashMap">
       select t.dxid,t.dxmcyw,t.dxmczw,t.lxid from znsjcl_dm_sjdx t
  </select>

</mapper>