<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xalt.sjcl.dao.GlppgzglMapper">


  <!--查询所有纳税人基本信息-->
  <select id="selectAll" parameterType="java.util.HashMap" resultType="com.xalt.sjcl.model.GlppgzglVO">
          select t.gzid,t.gzmc,t.gzms,t.ppd,t.yxj,t.ppsm,t.cjr,to_char(t.cjsj,'yyyy-mm-dd HH:mi:ss') cjsj,t.ppsf  from znsjcl_cl_glppgz  t
          where 1=1  and yxbz='Y'
        <if test="svo.con_gzmc != null">
             and t.gzmc like   '%${svo.con_gzmc}%'
        </if>
      order by  t.cjsj desc
  </select>

    <!--根据规则id查询规则信息-->
    <select id="selectAllbygzid" parameterType="java.lang.String" resultType="com.xalt.sjcl.model.GlppgzglVO">
        select t.gzid,t.gzmc,t.gzms,t.ppd,t.yxj,t.ppsm,t.cjr,to_char(t.cjsj,'yyyy-mm-dd HH:mi:ss') cjsj,t.ppsf  from znsjcl_cl_glppgz  t
        where 1=1  and yxbz='Y'
              and t.gzid =#{zgid,jdbcType=VARCHAR}
        order by  t.cjsj desc
    </select>

    <!--添加新规则-->
    <insert id="insertdata" parameterType="java.util.HashMap">
         insert into znsjcl_cl_glppgz
              (gzid, gzmc, gzms, ppd, yxj, ppsm, cjr, cjsj, ppsf, yxbz)
            values
              (to_char(sysdate, 'yyyymmdd')||all_indexes.nextval,
              '${svo.gzmc}',
              '${svo.gzms}',
              '${svo.ppd}',
              '${svo.yxj}',
              '${svo.ppsm}',
              '${curuser}',
              sysdate,
              '${svo.ppsf}',
              'Y')
    </insert>

    <!--修改规则-->
     <update id="updatedata"  parameterType="java.util.HashMap">
             update znsjcl_cl_glppgz t
             set
                 t.gzmc='${svo.gzmc}', t.gzms='${svo.gzms}',
                 t.ppd='${svo.ppd}', t.yxj='${svo.yxj}',
                 t.ppsm='${svo.ppsm}', t.cjr='${curuser}',
                 t.cjsj=sysdate, t.ppsf='${svo.ppsf}'

             where  t.gzid='${svo.gzid}'
     </update>

    <!--删除规则-->
    <update id="deletes" parameterType="java.util.HashMap">
          update  znsjcl_cl_glppgz t set t.yxbz='N'  where    t.gzid='${svo.gzid}'
    </update>
</mapper>